@using stokYonetimi.Language.PageContents
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>@ViewBag.Title - Stok Yönetimi</title>
    <link rel="stylesheet" href="~/Content/bootstrap.min.css">
    <link rel="stylesheet" href="~/Content/style.css">
</head>
<body>
<div class="container pageContent">
    <nav class="navbar navbar-inverse navbar-global navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false"
                        aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/Home/Index">@commons.appName</a>
            </div>
            <div id="navbar" class="collapse navbar-right navbar-collapse">
                <ul class="nav navbar-nav navbar-user navbar-right">
                    @{
                        var username = Session["loggedUserName"];
                        var userId = Session["loggedUserId"];
                        if (username != null && userId != null) {
                            <li>
                                <a href="#">
                                    <span class="glyphicon glyphicon-user"></span>@username
                                </a>
                            </li>
                            <li>
                                <a href="/Home/Logout">
                                    <span class="glyphicon glyphicon-log-out"></span>&nbsp;@commons.logout
                                </a>
                            </li>
                        } else {
                            <li>
                                <a href="/Home/Login">
                                    <span class="glyphicon glyphicon-log-in"></span>&nbsp;@commons.login
                                </a>
                            </li>
                        }

                        string[] actives = new string[2];
                        string currentLang = (string) Session["lang"];
                        int i = -1;

                        if (currentLang == "tr") {
                            i = 0;
                        } else if (currentLang == "en") {
                            i = 1;
                        }

                        actives[i] = "background-color: gray;";
                    }


                    <li style="@actives[0]">
                        <a href="/Home/ChangeLang?lang=tr&returnUrl=@Request.RawUrl">Türkçe</a>
                    </li>
                    <li style="@actives[1]">
                        <a href="/Home/ChangeLang?lang=en&returnUrl=@Request.RawUrl">English</a>
                    </li>
                </ul>
            </div>
            <!--/.nav-collapse -->
        </div>
    </nav>
    @RenderBody()
</div>
<script src="~/Scripts/jquery-3.2.1.min.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
<script src="~/Scripts/scripts.js"></script>
</body>
</html>