@using stokYonetimi.Language.ModelLang
@using stokYonetimi.Language.PageContents
@{
    ViewBag.Title = @musteriMenu.siparisVer;
}

@{ ViewData["activePage"] = 0; }
@Html.Partial("Partial/MusteriMenu", ViewData)

@model List<stokYonetimi.Models.Urun>

<div class="main-content">
    <div class="contentMenu">
        <nav class="navbar-primary" id="navbar2">
            <ul class="navbar-primary-menu">
                @{
                    var activeUrun = ViewBag.activeUrun;
                    int adetFiyat = 0;
                    int urunId = 0;
                    bool urunVar = false;
                    if (activeUrun != null) {
                        adetFiyat = activeUrun.AdetFiyat;
                        urunId = activeUrun.UrunId;
                        urunVar = true;
                    }


                    int sayac = 1;
                    foreach (var urun in Model) {
                        string active = (sayac == urunId) ? "active" : "";

                        <li>
                            <a href="/Musteri/SiparisVer?urunId=@urun.UrunId" class="@active">
                                <span class="nav-label">@urun.Isim</span><span class="glyphicon glyphicon-arrow-right menuArrow"></span>
                            </a>
                        </li>

                        sayac = sayac + 1;
                    }
                }
            </ul>
        </nav>
    </div>

    <div class="content2">
        <form action="/SiparisData/SiparisEkle" method="post">
            <input type="hidden" name="urunId" value="@urunId"/>

            <div class="formContentLeft">
                <div class="form-group">
                    <label for="siparisMiktar">@siparis.miktar:</label>
                    <input class="form-control" type="number" id="siparisMiktar" name="miktar" value="0"/>
                </div>
                <div class="form-group">
                    <label for="adetFiyat">@urun.adetFiyat:</label>
                    <input class="form-control" type="number" id="adetFiyat" name="adetFiyat" value="@adetFiyat" readonly="readonly"/>
                </div>
                <div class="form-group">
                    <label for="fiyat">@siparis.fiyat:</label>
                    <input class="form-control" type="number" id="fiyat" name="fiyat" value="" readonly="readonly"/>
                </div>
            </div>
            <div class="formContentRight">
                <div class="form-group">
                    <label for="urunResim">@urun.resim:</label>
                    <img class="img img-thumbnail img-responsive" id="urunResim" src="~/Assets/img.jpg" alt="@commons.noPicture" height="400" width="400">
                </div>
            </div>
            <div class="form-group">
                @{
                    string disabled = "disabled";
                    if (urunVar) {
                        disabled = "";
                    }
                    <input class="form-control btn buttons" type="submit" value="@commons.set"@disabled>
                }
            </div>
        </form>
    </div>

</div>