@{
    ViewBag.Title = @musteriMenu.siparisListele;
}

@{ ViewData["activePage"] = 1; }
@Html.Partial("Partial/MusteriMenu")

@using stokYonetimi.Language.ModelLang
@using stokYonetimi.Language.PageContents
@model List<stokYonetimi.Models.Siparis>

<div class="main-content">

    <div class="content">
        <button class="btn buttons addButton btn-lg" onclick="location.href = '/Musteri/SiparisVer'">
            <a href="#">
                <span class="glyphicon glyphicon-plus-sign"></span>
            </a>
        </button>
        <table class="table table-bordered listTable">
            <thead>
            <tr>
                <td>@siparis.durum</td>
                <td>@siparis.urun</td>
                <td>@siparis.miktar</td>
                <td>@urun.adetFiyat</td>
                <td>@siparis.fiyat</td>
                <td>@siparis.tarih</td>
                @*<td>@commons.options</td>*@
            </tr>
            </thead>
            <tbody>

            @foreach (var siparis in Model) {
                <tr>
                    <td>
                        @if (siparis.Durum) {
                            <span class="glyphicon glyphicon-ok"></span>
                        } else {
                            <span class="glyphicon glyphicon-remove"></span>
                        }
                    </td>
                    <td>@siparis.Urun.Isim</td>
                    <td>@siparis.Miktar</td>
                    <td>@siparis.Urun.AdetFiyat</td>
                    <td>@siparis.Fiyat</td>
                    <td>@siparis.Tarih</td>
                    @*<td>
                        <a href="#">
                            <span class="glyphicon glyphicon-edit"></span>
                        </a>
                        <a href="#">
                            <span class="glyphicon glyphicon-minus-sign"></span>
                        </a>
                    </td>*@
                </tr>
            }
            </tbody>
        </table>
    </div>
</div>