@{
    ViewBag.Title = headers.musteriListele;
}

@{ ViewData["activePage"] = 2; }
@Html.Partial("Partial/PersonelMenu")

@using stokYonetimi.Language.ModelLang
@using stokYonetimi.Language.PageContents
@model IEnumerable<stokYonetimi.Models.Musteri>

<div class="main-content">

    <div class="content">
        <button class="btn buttons addButton btn-lg" onclick="location.href = 'MusteriEkle'">
            <a href="#"><span class="glyphicon glyphicon-plus-sign"></span></a>
        </button>
        <table class="table table-bordered listTable">
            <thead>
            <tr>
                <th>@musteri.musteriNo</th>
                <th>@kisi.isim</th>
                <th>@kisi.telefon</th>
                <th>@kisi.mailAdresi</th>
                <th>@kisi.adres</th>
                <th>@commons.options</th>
            </tr>
            </thead>
            <tbody>
            @{
                foreach (var musteri in Model) {
                    <tr>
                        <td>@musteri.MusteriNo</td>
                        <td>@musteri.Isim</td>
                        <td>@musteri.Telefon</td>
                        <td>@musteri.MailAdresi</td>
                        <td>@musteri.Adres</td>
                        <td>
                            <a href="/Personel/MusteriGuncelle/@musteri.KisiId">
                                <span class="glyphicon glyphicon-edit"></span>
                            </a>
                            <a href="/MusteriData/MusteriSil/@musteri.KisiId">
                                <span class="glyphicon glyphicon-minus-sign"></span>
                            </a>
                        </td>
                    </tr>
                }
            }
            </tbody>
        </table>
    </div>
</div>