@{
    ViewBag.Title = "Müşteri Ekle";
}

@{ ViewData["activePage"] = 2; }
@Html.Partial("Partial/PersonelMenu")
@using stokYonetimi.Language.ModelLang
@model stokYonetimi.Models.Musteri

<div class="main-content">
    <div class="content">

        <form action="/MusteriData/MusteriEkle" method="post">
            <h3>Müşteri Ekle</h3>

            <div class="formContentLeft">
                <div class="form-group">
                    @Html.LabelFor(model => model.Isim)
                    <input class="form-control" id="isim" name="isim" type="text" autofocus="autofocus">
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Sifre)
                    <input class="form-control" id="sifre" name="sifre" type="text">
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Telefon)
                    <input class="form-control" type="text" id="telefon" name="telefon"/>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.MailAdresi)
                    <input class="form-control" type="email" id="mailAdresi" name="mailAdresi"/>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Adres)
                    <textarea class="form-control" id="adres" name="adres"></textarea>
                </div>
            </div>

            <div class="formContentRight">
                <div class="form-group">
                    @Html.LabelFor(model => model.Resim)
                    <input type="file" id="resim" name="resim"/>
                </div>

                <div class="form-group">
                    <img class="img img-thumbnail img-responsive" alt="Resim yok" height="400" width="400">
                </div>
            </div>

            <div class="form-group">
                <input class="form-control btn buttons" type="submit" value="Kaydet">
            </div>
        </form>
    </div>

</div>