@{
    ViewBag.Title = "Stok Listele";
}

@{ ViewData["activePage"] = 1; }
@Html.Partial("Partial/PersonelMenu")

@model IEnumerable<stokYonetimi.Models.Stok>

<div class="main-content">

    <div class="content">
        <button class="btn buttons addButton btn-lg" onclick="location.href = 'StokEkle'">
            <span class="glyphicon glyphicon-plus-sign"></span>
        </button>
        <table class="table table-bordered listTable">
            <thead>
            <tr>
                <th>Ürün</th>
                <th>Miktar</th>
                <th>Adet Fiyat</th>
                <th>Oluşturulma Tarihi</th>
                <th>İşlemler</th>
            </tr>
            </thead>
            <tbody>
            @{
                foreach (var stok in Model) {
                    <tr>
                        <td>@stok.Urun.Isim</td>
                        <td>@stok.Miktar</td>
                        <td>@stok.AdetFiyat</td>
                        <td>@stok.OlusturulmaTarihi</td>
                        <td>
                            <a href="/Personel/StokGuncelle/@stok.StokId">
                                <span class="glyphicon glyphicon-edit"></span>
                            </a>
                            <a href="/StokData/StokSil/@stok.StokId">
                                <span class="glyphicon glyphicon-minus-sign"></span>
                            </a>
                        </td>
                    </tr>
                }
            }
            </tbody>
        </table>
    </div>
</div>