@{
    ViewBag.Title = "Stok Güncelle";
}

@{ ViewData["activePage"] = 1; }
@Html.Partial("Partial/PersonelMenu")

@model IEnumerable<stokYonetimi.Models.Urun>

<div class="main-content">
    <div class="content">

        <form action="/StokData/StokGuncelle" method="post">
            <h3>Stok Güncelle</h3>

            <div class="formContentLeft">
                <input type="hidden" id="stokId" name="stokId" value="@ViewBag.stok.stokId"/>
                <input type="hidden" id="olusturulmaTarihi" name="olusturulmaTarihi" value="@ViewBag.stok.olusturulmaTarihi"/>

                <div class="form-group">
                    <label for="urunId">Ürün:</label>
                    <select id="urunId" name="urunId" size="1">
                        @foreach (var urun in Model) {
                            string selected = (urun.UrunId == ViewBag.stok.urunId) ? "selected" : "";

                            <option value="@urun.UrunId" selected="@selected">@urun.Isim</option>
                        }
                    </select>
                </div>

                <div class="form-group">
                    <label for="miktar">Miktar:</label>
                    <input class="form-control" id="miktar" name="miktar" type="text" value="@ViewBag.stok.miktar"/>
                </div>

                <div class="form-group">
                    <label for="adetFiyat">Adet Fiyat:</label>
                    <input class="form-control" type="text" id="adetFiyat" name="adetFiyat" value="@ViewBag.stok.adetFiyat"/>
                </div>

                <div class="form-group">
                    <input class="form-control btn buttons" type="submit" value="Kaydet"/>
                </div>
            </div>
        </form>
    </div>

</div>