@{
    ViewBag.Title = headers.urunListele;
}

@{ ViewData["activePage"] = 0; }
@Html.Partial("Partial/PersonelMenu")

@using stokYonetimi.Language.ModelLang
@using stokYonetimi.Language.PageContents
@model IEnumerable<stokYonetimi.Models.Urun>

<div class="main-content">

    <div class="content">
        <button class="btn buttons addButton btn-lg" onclick="location.href = 'UrunEkle'">
            <a href="#"><span class="glyphicon glyphicon-plus-sign"></span></a>
        </button>
        <table class="table table-bordered listTable">
            <thead>
            <tr>
                <th>@urun.isim</th>
                <th>@urun.tur</th>
                <th>@urun.adetFiyat</th>
                <th>@urun.aciklama</th>
                <th>@commons.options</th>
            </tr>
            </thead>
            <tbody>
            @{
                foreach (var urun in Model) {
                    <tr>
                        <td>@urun.Isim</td>
                        <td>@urun.Tur</td>
                        <td>@urun.AdetFiyat</td>
                        <td>@urun.Aciklama</td>
                        <td>
                            <a href="/Personel/UrunGuncelle/@urun.UrunId">
                                <span class="glyphicon glyphicon-edit"></span>
                            </a>
                            <a href="/UrunData/UrunSil/@urun.UrunId">
                                <span class="glyphicon glyphicon-minus-sign"></span>
                            </a>
                        </td>
                    </tr>
                }
            }
            </tbody>
        </table>
    </div>
</div>