@{
    ViewBag.Title = headers.urunGuncelle;
}

@{ ViewData["activePage"] = 0; }
@Html.Partial("Partial/PersonelMenu")

@using stokYonetimi.Language.ModelLang
@using stokYonetimi.Language.PageContents
@model stokYonetimi.Models.Urun

<div class="main-content">
    <div class="content">

        <form action="/UrunData/UrunGuncelle" method="post">
            <h3>@headers.urunGuncelle</h3>

            <div class="formContentLeft">
                <input type="hidden" name="urunId" value="@Model.UrunId"/>

                <div class="form-group">
                    <label for="isim">@urun.isim:</label>
                    <input class="form-control" id="isim" name="isim" type="text" autofocus="autofocus" value="@Model.Isim">
                </div>

                <div class="form-group">
                    <label for="tur">@urun.tur:</label>
                    <input class="form-control" id="tur" name="tur" type="text" value="@Model.Tur">
                </div>

                <div class="form-group">
                    <label for="adetFiyat">@urun.adetFiyat:</label>
                    <input class="form-control" type="text" id="adetFiyat" name="adetFiyat" value="@Model.AdetFiyat"/>
                </div>

                <div class="form-group">
                    <label for="aciklama">@urun.aciklama:</label>
                    <textarea class="form-control" id="aciklama" name="aciklama">@Model.Aciklama</textarea>
                </div>
            </div>

            <div class="formContentRight">
                <div class="form-group">
                    <label for="resim">@urun.resim:</label>
                    <input type="file" id="resim" name="resim"/>
                </div>

                <div class="form-group">
                    <img class="img img-thumbnail img-responsive" alt="@commons.noPicture" height="400" width="400">
                </div>
            </div>

            <div class="form-group">
                <input class="form-control btn buttons" type="submit" value="@commons.set">
            </div>
        </form>
    </div>

</div>