@using stokYonetimi.Language.Messages
@using stokYonetimi.Language.PageContents
@{
    ViewBag.Title = "Login";
}

<div class="container">
    <div class="row main">
        <div class="panel-heading">
            <div class="panel-title text-center">
                <h1 class="title">@commons.companyName</h1>
                <hr/>
            </div>
        </div>
        <div class="main-login main-center">
            @{
                string message = null;
                var messageData = TempData["errorMessage"];

                try {
                    if (messageData != null) {
                        message = (string) messageData;
                    }
                }
                catch (Exception e) {
                    message = @messages.serverError;
                }

                if (message != null) {
                    <div class="alert alert-danger" id="pageMessage">@message</div>
                }
            }
            <form class="form-horizontal" method="post">
                <div class="form-group">
                    <label for="username" class="control-label">@commons.username:</label>
                    <div>
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="glyphicon glyphicon-user"></i>
                            </span>
                            <input type="text" class="form-control" name="username" id="username" placeholder="@commons.enterUsernameHere"/>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="password" class="control-label">@commons.password:</label>
                    <div>
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="glyphicon glyphicon-lock"></i>
                            </span>
                            <input type="password" class="form-control" name="password" id="password" placeholder="@commons.enterPasswordHere"/>
                        </div>
                    </div>
                </div>

                <div class="form-group ">
                    <input type="submit" class="btn btn-primary btn-lg btn-block buttons login-button" value="@commons.login"/>
                </div>
            </form>
        </div>
    </div>
</div>

<style>
        /*
    /* Created by Filipe Pina
     * Specific styles of signin, register, component
     */
        /*
     * General styles
     */

    body,
    html {
        height: 100%;
        background-repeat: no-repeat;
        /*background-color: #d3d3d3;*/
        font-family: 'Oxygen', sans-serif;
    }

    form {
        background-color: initial;
        color: initial;
    }

    h1.title {
        font-size: 50px;
        font-family: 'Passion One', cursive;
        font-weight: 400;
        color: lightcyan;
    }

    hr {
        width: 10%;
        color: #fff;
    }

    .form-group { margin-bottom: 15px; }

    label { margin-bottom: 15px; }

    input,
    input::-webkit-input-placeholder {
        font-size: 11px;
        padding-top: 3px;
    }

    .main { margin-top: 50px; }

    .main-login {
        background-color: lightgray;
        /* shadows and rounded borders */
        -moz-border-radius: 2px;
        -webkit-border-radius: 2px;
        border-radius: 2px;
        -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
        -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    }

    .main-center {
        margin-top: 30px;
        margin: 0 auto;
        max-width: 330px;
        padding: 40px 40px;
    }

    .login-button { margin-top: 5px; }
</style>